.main-about {
    padding: 100px 0;

    &--gray {
        background-color: #f7f7f7;
        @include dark-theme {
            background-color: #444444;
        }
    }
    &--reverse &__row {
        flex-direction: row-reverse;
    }

    .image-box {
        width: 100%;
        height: 100%;
        max-height: 600px;
        min-height: 400px;
        figure {
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: center center;
            }
        }
    }
    &__description {
        p {
            font-size: 18px;
            line-height: 32px;
            font-weight: 500;
            color: $thm-color;

            &:not(:last-child) {
                margin-bottom: .8em;
            }
        }
    }
    @media (max-width: 767px) {
        .image-box {
            max-height: 350px;
            min-height: unset;
        }
    }
    &__image-col {
        @media (max-width: 767px) {
            margin-bottom: 50px;
        }
    }
}


.main-video {
    height: 250px;
    width: 100%;
    max-width: 2180px;
    margin: 0 auto;
    background-image: url('/assets/images/backgrounds/main-slider-1-1.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    @include tablet {
        height: 400px;
    }

    &:after {
        content: '';
        z-index: 1;
        background-color: rgb(#000000, .7);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    &__text {
        position: relative;
        z-index: 2;
        h3 {
            color: #FFFFFF;
            font-size: 30px;
            text-align: center;
            margin-bottom: 7px;

            @include tablet {
                font-size: 48px;
                margin-bottom: 15px;

                &:before,
                &:after {
                    content: '';
                    display: inline-block;
                    height: 5px;
                    background-color: $thm-primary;
                    width: 70px;
                    margin-right: 25px;
                    vertical-align: middle;
                }
                &:after {
                    margin-right: 0;
                    margin-left: 25px;
                }
            }
            @include laptop {
                font-size: 64px;
            }
        }
    }
    &__description {
        font-size: 16px;
        color: #C9C9C9;;
        text-align: center;
        @include laptop {
            font-size: 48px;
        }
        @include tablet {
            font-size: 30px;
        }
    }
    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;

        border: 1px solid currentColor;
        transition: .3s background-color;
        color: #FFFFFF;
        overflow: hidden;
        font-size: 14px;
        width: 50px;
        height: 50px;
        position: relative;
        margin: 20px auto 0;

        @include tablet {
            margin-top: 40px;
            width: 75px;
            height: 75px;
            font-size: 16px;
        }

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
            border-radius: inherit;
            background-color: currentColor;
            width: 0;
            height: 0;
            transition-duration: 400ms;
            transition-property: width, height;
        }

        i {
            transition: .4s color;
        }

        &:hover {
            color: #FFFFFF;
            i {
                color: $thm-primary
            }
            &:before {
                width: 105%;
                height: 105%;
            }
        }
    }
}

.main-news {
    overflow: visible;
    .swiper-wrapper {
        align-items: stretch;
    }
    &__slide {
        height: auto;
    }
    @include large-tablet {
        .swiper-wrapper {
            margin: 0 -15px;
            width: auto;
        }
        &__slide {
            width: 33.333%;
            padding: 0 15px;
        }
    }
}
